/* Vertically align the Hours text in the select dropdown */
.mat-mdc-select-value {
  transform: translateY(-2px);
}

.week-table {
  width: 100%;

  th,
  td {
    text-align: center;
    vertical-align: top;
    padding: 8px 4px;
    min-width: 120px;
  }

  mat-form-field {
    margin: 0 2px;
    width: 100%;
  }

  input[matInput]::placeholder {
    color: #bdbdbd;
    opacity: 1;
    font-size: 13px;
  }

  .custom-hours-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 90px;
    min-width: 70px;
  }

  .custom-hours-input {
    text-align: right;
    padding-right: 28px !important;
    min-width: 60px;
    box-sizing: border-box;
    /* Hide default spinner */
    -moz-appearance: textfield;
  }

  .custom-hours-input::-webkit-outer-spin-button,
  .custom-hours-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .custom-spinner {
    position: absolute;
    right: 2px;
    top: 6px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    height: 32px;
    justify-content: center;
  }

  .custom-spinner button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }

  .custom-spinner mat-icon {
    font-size: 16px;
    color: #757575;
    pointer-events: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 0 0 8px;
    min-width: 0;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    align-items: center;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 0 0 8px;
  }
}